h1 {
    text-align: center;
    padding-top: 1.5%
}

h3{ 
    margin-top: 5%;
}

.firstDiv{
    background-color: rgb(247, 246, 47, 0.34);
}
.introDiv{
    margin: auto;
    text-align: center;
    margin-top: 5.5%;
}
    @media only screen and (min-width: 805px){
        .introDiv{ width: 50%;}
    }

#info{ 
    font-size: larger;
}

a{
    color: rgb(36, 123, 160);
}

.primary{
    color: white; 
    background-color: rgb(36, 123, 160);
    margin-top: 2%;
}

footer{
    background-color: rgb(154, 214, 214, 0.75);
}

.footerDiv{ 
    display: flex;
    width: 50%;
    margin: auto;
    font-size: larger;
    flex-direction: row;
    align-items: center;
}
    @media only screen and (max-width: 976px){
        .footerDiv{
            width: auto;
            flex-wrap: wrap;
        }
    }