h1 {
    text-align: center;
}

h3{ 
    margin-top: 5%;
}

.introDiv{
    width: 50%;
    margin: auto;
    text-align: center;
}

#info{ 
    font-size: larger;
}

a{
    color: rgb(36, 123, 160);
}

.primary{
    color: white; 
    background-color: rgb(36, 123, 160);
    margin-top: 2%;
}