/* The Modal (background) */
.modal {
    position: absolute; /* Stay in place */
    z-index: 1000; /* Sit on top */
    right: 0; 
    left: 0;
    top: 0;
    bottom: 0;
    width: 75%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  .close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 30px;
    padding-top: 15px;
}
    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }
/* Modal Body */
.modal-body {
    text-align: center;
    font-size: larger;
}
  
/* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
/* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
/* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }


h1 {
    text-align: center;
    padding-top: 1.5%
}

#titleDiv{
    margin: auto;
}

h3{ 
    margin-top: 5%;
}

.firstDiv{
    background-color: #fbfb9d;
    padding-bottom: 5%;
}
.introDiv{
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    text-align: center;
    margin-top: 5.5%;
    background-color: #fbfb9d;
    width: 75%;
}
    @media only screen and (max-width: 590px){
        #astronaut{ width: 100%;}
    }

    @media only screen and (max-width: 1000px){
        .introDiv {
            display: block;
        }
    }


#info{ 
    font-size: larger;
}

a{
    color: black; 
    text-decoration: underline;
}

.primary{
    color: white; 
    background-color: rgb(36, 123, 160);
    margin-top: 2%;
}

footer{
    background-color: rgb(154, 214, 214, 0.75);
}

.footerDiv{ 
    display: flex;
    width: 50%;
    margin: auto;
    font-size: larger;
    flex-direction: row;
    align-items: center;
}
    @media only screen and (max-width: 1276px){
        .footerDiv{
            width: 75%;
        }
    }

    @media only screen and (max-width: 712px){
        .footerDiv{
            width: 75%;
            flex-wrap: wrap;
        }

        #logoRP{ display: none;}

        h4 { padding-bottom: 2%; }
    }

h4{ 
    font-size: 2rem;
    text-align: center;
    padding-top: 2%;
}

.resposta .respostaLabel{ 
    margin: auto;
    display: block;
}
